extends layout-signout.pug

append head
  script(src="/public/js/events.js" type="module" defer)
  link(rel="stylesheet" href="public/css/events.css" type="text/css")

block content
  .main-container
    .dashboard-nav
          .dashboard-links
              a.navlink(href='/dashboard') Upcoming Events
              a.navlink(href='/dashboard/hosted') Events You're Hosting
              a.navlink(href='/dashboard/account') Account Details
    .banner-container
      p.banner-heading Good Conversations
      p.banner-text They're hard to find.
    .text-container
      p.description-heading Covid With Stranger is making friends, from strangers.
      p.description-text For two hours, three to ten strangers sit at home with a host to talk! The host picks the theme but feel free to talk about anything! The circumstances are unusual, but thats the point.
      p.description-text If none of these fit your schedule you can also #[a.link(href='/host') host your own event]!
    .events
      