extends layout.pug

append head
  script(src="/public/js/events.js" type="module" defer)
  link(rel="stylesheet" href="public/css/events.css" type="text/css")

block content
  
  .events
  //-   each event in events
  //-     .eventsList
  //-       ul 
  //-         li= event.time
  //-         li= event.date
  //-         li= event.userId
  //-         li= event.hostId
  //-         li= event.capacity
  //-         li= event.description
      