<!DOCTYPE html>
html(lang="en")
  head
    block head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0" )
    link(rel="icon" href="/public/white_mask_black_bg.png" type="image/png")
    link(rel="stylesheet" href="/public/css/layout.css" type="text/css")
    link(rel="stylesheet" href="/public/css/footer.css" type="text/css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Atma' type='text/css')

    title Covid With Strangers
  body
  header(class='header__container')
    div.nav-bar
      div
        img(src="/public/white_mask.png", alt="cws" width='35' height='35')
        a.homelink(href='/') Covid With Strangers
      div.nav-links
        a.navlink(href='/events') Events
        a.navlink(href='/dashboard/hosting') Hosting
        a.navlink#extrapad(href='/dashboard') Dashboard
        a.navlink#signout(href='/signup') Sign Out


    block content
      h1 LAYOUT PAGE

  footer(class='footer__wrapper')
    .footer-container
      .side-link-container
        span The Developers: 
        a.navlink(class='footer__link' href='https://www.github.com/uribgp') Steven's Github
        a.navlink(class='footer__link' href='https://www.uribgp.com') Steven's Portfolio
        a.navlink(class='footer__link' href='https://www.github.com/tadeo-garcia') Tadeo's Github
        a.navlink(class='footer__link' href='https://tadeogarcia.me') Tadeo's Portfolio
        a.navlink(class='footer__link' href='https://github.com/shaieleigh') Shaies's Github
        a.navlink(class='footer__link' href='') Shaies's Portfolio
      .description-container
        p Covid With Strangers is all about making our cities feel more like neighborhoods. We're more "connected" than ever before, but we're also more alone. And all we want to do is bring people together because, well, the world is better that way.
        br
        p We're not doing anything groundbreaking. We're creating something that would've been incredibly unnecessary 20 years ago. But while we get busier, it's easy to forget the value of a conversation for no reason. A conversation that's intentionally unintentional.
        br
        br
        p Checkout the #[a(class='footer__link' href='https://github.com/tadeo-garcia/cws-project') Github] for this project.