extends layout.pug

include includes/auth-input.pug

append head
  link(rel="stylesheet" href="/public/css/login-form.css" type="text/css")
  script(src='/public/js/login.js' type='module' defer)

block content
  .main-container
    .login-div
      p.login-text Hey there stranger!
      br
      p.description-text It's good to have you back. 
      p.description-text Sign in here and sign up for your next virtual meeting!
    .form-container
      form#login-form(action='/token' method='POST')
        ul#errors-container
        input.form-input(type="hidden" name="_csrf" value=csrfToken)
        input.form-input(type="text" name='email' required placeholder='    Email Address')
        input.form-input(type="text" name='userName' required placeholder='    User Name')
        input.form-input(type="password" name='password' required placeholder='    Password')
        button.form-input.button(type='submit') Sign in
      form#demo-form(action='/token' method='POST')
        ul#errors-container
        input.form-input(type="hidden" name="_csrf" value=csrfToken)
        input.form-input(type="hidden" name='email' required placeholder='    Email Address')
        input.form-input(type="hidden" name='userName' required placeholder='    User Name')
        input.form-input(type="hidden" name='password' required placeholder='    Password')
        button.form-input.button(type='submit') Demo User Login
      a.already(href="/signup") If you haven't signed up yet, click here!
