extends layout.pug

include includes/auth-input.pug
    
append head
  link(rel="stylesheet" href="public/css/form.css" type="text/css")
  script(src='/public/js/signup.js' type='module' defer)

block content
  .form-container
    form#signup-form
      h1 Sign up for Covid with Stalkers!!
      h5 Millions of strangers across the world have sat together for conversations. Create an account and you'll be on your way to join the community.
      ul#errors-container
        input(type="hidden" name="_csrf" value=csrfToken)
        +authInput()
        input.form-input(type="text" name='email' required placeholder='Email')
        +authInput()
        input.form-input(type="text" name='userName' required placeholder='User Name')
        +authInput()
        input.form-input(type="password" name='password' required placeholder='Password')
        +authInput()
        input.form-input(type="password" name='password2' required placeholder='Confirm Password')
      button.form-input.button(type='submit') Sign Up
  .footer-container
    .side-link-container
      a.navlink(href='/events') Events
      a.navlink(href='/') Hosting
      a.navlink(href='/Facebook') Facebook
      a.navlink(href='/Twitter') Twitter
    .description-container
      p Covid With Strangers is all about making our cities feel more like neighborhoods. We're more "connected" than ever before, but we're also more alone. And all we want to do is bring people together because, well, the world is better that way.
      p We're not doing anything groundbreaking. We're creating something that would've been incredibly unnecessary 20 years ago. But while we get busier, it's easy to forget the value of a conversation for no reason. A conversation that's intentionally unintentional.