.main-container{
  /* width: 900px; */
  display:flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-nav{
    background-color: gray;
    height: 50px;
    width:100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items:center;
    font-variant-caps: all-small-caps;
    color: white;
    font-weight: bold;

}

.banner-container{
    background-size: cover;
    background-image: url('/public/pics/home/events-banner.jpg');
    height: 200px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-variant-caps: all-small-caps;
    color: white;
    font-weight: bold;

}

.banner-heading{
  font-size: 34px;
  padding-top: 25px;
  
}

.banner-text{
  font-size: 18px;
  padding-bottom: 25px;
}

.text-container{
  padding-top: 40px;
  width: 550px;
}
.link {
  color: black;
  text-decoration: underline;
}

.description-heading{
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size:18px;
  font-weight: bold;
  padding-bottom: 15px;
}

.description-text{
  padding-left: 15px;
  padding-right: 15px;
  font-size:16px;
  font-weight: bold;
}

.events{
  width: 1000px;
  padding: 25px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.card-event {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    min-width: 275px;
    max-width: 275px;
    margin: 25px;
  }  
  
.card-event > img {
  height: 200px;
  width: 100%;
}  

.card-event h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}  

.card-event p {
  font-size: 11px;
  margin: 0;
}  

.card-event .card-event-info {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  /* position: relative; */
  height: 145px;
} 

.card-event-info .card-event-host {
  position: relative;
  left: -15px;
  top: -115px;
  max-width: 75px;
  border: 2px solid white;
  height: 115px;
}  

.card-left-div {
  width: 500px;
  text-align: left;
  
}

.card-event-profile {
  position: relative;
  left: 50px;
  text-align: right;
  padding:5px;
}  

.button-div{
  padding: 10px 0px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background:gray;
  color: black;
  font-variant-caps: all-small-caps;
  font-size:18px;
  text-align: center;
  transition: background 1s ease;
}  

.button:hover, button:hover {
  background: black;
  color: white;
}  





/* .progress-bar .bar {
  display: block;
  height: 100%;
  background-color: #F7BF4D;
  position: relative;
  overflow: hidden;
} */