.main-container{
  /* width: 900px; */
  display:flex;
  flex-direction: column;
  align-items: center;
}

.banner-container{
  background-size: cover;
  height: 300px;
  width:100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items:center;
  font-variant-caps: all-small-caps;
  color: white;
  font-weight: bold;
  overflow: hidden
}

.banner{
  width: 100%;
  position: relative;
  bottom: 25px;
}

.banner-heading{
  font-size: 34px;
  padding-top: 25px;
  position:relative;
}

.banner-text{
  font-size: 18px;
  padding-bottom: 25px;
  position: relative;
}

.event-container{
  padding-top: 50px;
  padding-bottom: 60px;
  width: 900px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-areas: "left-column right-column";
}

.left-column{
  grid-area: 'left-column';
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-detail{
  padding-left: 5px;
  padding-right: 5px;
  border:2px solid lightgray;
  width: 300px;
  height: 250px;
  line-height: 20px;
}

.description-heading{
  border-bottom: 2px solid lightgray;
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
}
 
.cws-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  opacity: .7;
  width: 300px;
  height: 250px;
  line-height: 15px;
  padding-bottom: 20px;
}

.cws-title{
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.cws-text{
  font-size: 11px;
  padding: 5px 25px;
}

.description-text{
  font-size:14px;
}

.emoji{
  font-size: 28px;
}

.right-column{
  grid-area: 'right-column';
  border: 2px solid gray;
  height: 500px;
  line-height: 16px;
}
.img{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.avatar{
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 25px;
  border: 2px solid lightgray;
  height: 150px;
  width: 100px;
}

.right-text-title{
  padding: 5px 5px;
  font-weight: bold;
}

.right-text{
  padding: 5px 15px;
}

.button-div{
  padding-top: 10px;
  padding-bottom: 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.join-button{
  padding: 0px 75px;
  border-radius: 5px;
  background:gray;
  color: black;
  font-variant-caps: all-small-caps;
  font-size:30px;
}

.button{
  transition: background .5s ease;
}

.button:hover {
  background: white;
  border:2px solid gray;
  color: black;
}  

