.main-container{
  /* width: 900px; */
  display:flex;
  flex-direction: column;
  align-items: center;
}

.banner-container{
  background-size: cover;
  height: 300px;
  width:100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items:center;
  font-variant-caps: all-small-caps;
  color: white;
  font-weight: bold;
  overflow: hidden
}

.banner{
  width: 100%;
  position: relative;
  bottom: 25px;
}

.banner-heading{
  font-size: 34px;
  padding-top: 25px;
  position:relative;
}

.banner-text{
  font-size: 18px;
  padding-bottom: 25px;
  position: relative;
}

.event-container{
  padding-top: 50px;
  margin-bottom: 60px;
  width: 900px;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-areas: "left-column right-column";
}

.left-column{
  grid-area: 'left-column';
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.event-detail{
  padding-left: 5px;
  padding-right: 5px;
  border:2px solid lightgray;
  width: 300px;
  height: 250px;
  line-height: 20px;
}

.description-heading{
  border-bottom: 2px solid lightgray;
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
}
 
.cws-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  opacity: .7;
  width: 300px;
  height: 300px;
  line-height: 15px;
  margin-bottom: 20px;
}

.cws-title{
  padding-top: 10px;
  padding-bottom: -10px;
  margin-bottom: -5px;
  font-size: 14px;
  font-weight: bold;
}

.cws-text{
  text-align: justify;
  font-size: 11px;
  padding: 0px 25px;
}

.description-text{
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size:12px;
}

.emoji{
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 28px;
}

.button-div{
  padding-top: 15px;
  padding-bottom: 10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events-link{
  color:black;
  text-decoration: underline;
  padding-top: 5px;
  padding-bottom: 15px;
}

.join-button{
  padding: 0px 75px;
  border:2px solid gray;
  border-radius: 5px;
  background:gray;
  color: black;
  font-variant-caps: all-small-caps;
  font-size:30px;
}

.button{
  transition: background .5s ease;
}

.button:hover {
  background: white;
  border:2px solid gray;
  color: black;
}  

.right-column{
  grid-area: 'right-column';
  border: 2px solid gray;
  height: 100%;
  line-height: 18px;
}

.bio-div{
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "bio image";
}

.bio{
  padding-top:15px;
  padding-left: 15px;
  grid-area:'bio';
  text-align: justify;
}

.image{
  grid-area:"image";
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.bio-button{
  margin-top:5px;
  padding: 0px 15px;
  border:2px solid gray;
  border-radius: 5px;
  background:gray;
  color: black;
  font-variant-caps: all-small-caps;
  font-size:12px;
}

.avatar{
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right:20px;
  margin-left:15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
  border: 2px solid lightgray;
  height: 250px;
  width: 150px;
  /* position: relative;
  bottom: 30px; */
}

.event-div{
  padding-top:15px;
  padding-left: 15px;
  padding-right: 25px;
  text-align: justify;
}

.right-text-title{
  padding: 0px 5px;
  padding-bottom: 0px;
  font-weight: bold;
}

.right-text{
  padding: 0px 15px;
  padding-right: 15px;
}



