.main-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.banner-container{
    background-size: cover;
    background-image: url('/public/pics/home/events-banner.jpg');
    height: 200px;
    width:100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items:center;
    font-variant-caps: all-small-caps;
    color: white;
    font-weight: bold;

}

.banner-heading{
  font-size: 34px;
  padding-top: 25px;
  
}

.banner-text{
  font-size: 18px;
  padding-bottom: 25px;
}

.text-container{
  padding-top: 40px;
  width: 600px;
}

.description-heading{
  font-size:20px;
  font-weight: bold;
}

.description-text{
  font-size:14px;
}

.events{
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: space-between; */

}

.card-event {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 300px;
    margin-left:50px;
    margin-right:50px;
    display: inline-block;
  }  
  
.card-event > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}  

.card-event h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}  

.card-event p {
  text-align: justify;
  font-size: 11px;
  opacity: .7;
  margin: 0;
}  

.card-event .card-event-info {
  padding: 16px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  position: relative;
  height: 125px;
}  

.card-event-info .card-event-host {
  position: absolute;
  right: 16px;
  top: -40px;
  width: 40px;
}  

.card-event-profile {
  text-align: right;
  padding:5px;
}  

.button-div{
  padding: 10px 0px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  height: 30px;
  border-radius: 5px;
  background:gray;
  color: black;
  transition: background 1s ease;
  font-variant-caps: all-small-caps;
}  

button:hover {
  background: black;
  color: white;
}  





/* .progress-bar .bar {
  display: block;
  height: 100%;
  background-color: #F7BF4D;
  position: relative;
  overflow: hidden;
} */