* {
  font-family: "Helvetica";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 850px;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.footer__wrapper {
  margin-top: auto;
  min-height: 300px;
}

a:hover {
  color: #d5d5d5;
}

.nav-bar {
  height: 5%;
  min-height: 50px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #444;
}

.logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homelink {
  padding-left: 15px;
  padding-bottom: 5px;
  color: white;
  font-size: 16px;
  font-family: "Atma";
  padding-right: 150px;
  transition: background 0.5s ease;
}
.homelink:hover {
  color: #ffffff;
  text-shadow: 2px 5px 25px white;
}

.nav-links {
  padding-left: 150px;
}

.navlink {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.75s ease;
}

.flavicon {
  width: 20px;
  height: 20px;
}

#extrapad {
  padding-right: 20px;
}

#signup,
#signout {
  background-color: white;
  color: black;
  padding: 7px 15px;
  border-radius: 3px;
}

#signup:hover,
#signout:hover {
  background-color: #444444;
  border: 2px solid white;

  color: white;
}
